body {
  margin: 0;
  font-family: 'Georgia';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #000000;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  margin-top: 20px;
}

.header {
  margin: auto;
  width: 800px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.results {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #160F29;
} 

.res {
  display: flex;
  flex-direction: column;
}

.textarea {
  margin: 20px auto;
  resize: none;
  width: 800px;
  height: 100px;
}

.matrixs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input-panel {
  display: flex;
  flex-direction: column;
}

.buttons-panel {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 123px;
  background-color: #DDBEA8;
  border: 2px solid #DDBEA8;
}
